{% extends "./base.html" %}
<body>

    {% block content %}
      <!-- Hero -->
      <div class="container-fluid">
          <img class="img-responsive" height="75%" width="100%" src="https://wallpaperaccess.com/full/1808551.jpg" alt="Gadgets">
      </div>
  <hr>

      <!-- Products -->
      <div class="container">
        <h1 class="text-center">
          Our Products
        </h1>
        <div class="row">
          <div class="col bg-light border ms-3">
            <img src="https://i.insider.com/61a92e735d47cc0018e9153e?width=300" alt="laptops" class="rounded mx-auto d-block">
            <h3 class="text-center">Laptops</h3>

          </div>
          <div class="col bg-light border ms-3">
            <img src="https://www.cnet.com/a/img/resize/55fb60ca6a8cf5035ac2b5044ef54e6f87f6be3f/2020/08/18/b7168aea-9f7e-47bb-9f31-4cb8ad92fbc7/lg-note-20-ultra-5g-iphone-11-se-google-pixel-4a-lg-velvet-6133.jpg?auto=webp&fit=crop&height=675&width=1200" width="300" height="85%" alt="mobile" class="rounded mx-auto d-block">
            <h3 class="text-center">Mobile Phones</h3>
          </div>
          <div class="col bg-light border ms-3">
            <img src="https://media.gq-magazine.co.uk/photos/5f0841a9e3e1d005a7feee5e/master/pass/20200709-tablet-05.jpg" width="300" height="85%" alt="tablets" class="rounded mx-auto d-block">
            <h3 class="text-center">Tablets</h3>
          </div>
          </div>
        </div>
      </div>
      <hr>

    {% endblock %}
</body>

</html>